@import url(./_active_true/header__lang-link_active_true.css);

.header__lang-link {
  text-decoration: none;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  color: #FFFFFF;
  transition: opacity .4s ease-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 692px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
  }
}
