/* * {
  outline: 1px solid red;
} */

.page {
  background: #2a2c2f;
  width: 100%;
  display: grid;
  grid-template-columns: 48px 100px 1fr 100px 48px;
  grid-auto-rows: max-content;
  grid-template-areas:
  ". header header header ."
  ". . lead . ."
  ". . intro . ."
  ". photo-grid photo-grid photo-grid ."
  ". . places . ."
  ". cover cover cover ."
  ". footer footer footer .";
  justify-items: stretch;
  align-items: stretch;

  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
