@import url(./__item/photo-grid__item.css);

.photo-grid {
  grid-area: photo-grid;
  grid-column: 2/-2;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 284px));
  grid-auto-rows: 213px;
  gap: 16px;
  font-size: 0;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(auto, 300px));
    grid-auto-rows: 225px;
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(auto, 352px));
    grid-auto-rows: 264px;
    gap: 16px;
  }
}
