.places {
  max-width: 984px;
  margin: 0 auto;
} /* edited */

@media screen and (max-width: 1210px) {
  .places {
    max-width: calc(100% - (48px*2));
  }
}

@media screen and (max-width: 865px) {
  .places {
    max-width: 720px;
  }
}

@media screen and (max-width: 692px) {
  .places {
    max-width: 100%;
  }
}
