.cover__subtitle {
  max-width: 100%;
  z-index: 2;
  margin: 0;
  max-height: min-content;
  width: 360px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
}
