.cover__subtitle {
  max-width: 100%;
  z-index: 2;
  margin: 0;
  max-height: min-content;
  width: 360px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
}


@media screen and (max-width: 692px) {
  .cover__subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    max-width: calc(100% - (16px*2));
  }
}

@media screen and (max-width: 257px) {
  .cover__subtitle {
    font-size: 5.44vw;
  }
}
