@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./_margined/header_margined_true.css);

.header {
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  align-items: end;
  grid-column: 2/-2;
  gap: 18px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: calc(100% - (48px*2));
  }
}

@media screen and (max-width: 1210px) {
  .header {
    max-width: calc(100% - (48px*2));
  }
}

@media screen and (max-width: 976px) {
  .header {
    max-width: calc(100% - (24px*2));
  }
}

@media screen and (max-width: 692px) {
  .header {
    max-width: calc(100% - (16px*2));
  }
}
