@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./_margined/header_margined_true.css);

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  align-items: end;
  width: 100%;
}
