@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);

.header {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr repeat(2, min-content);
  width: calc(100% - (48px*2));
  align-items: end;
  margin: 28px 48px 0;
}
