.intro {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1080px) {
  .intro {
    max-width: calc(100% - (48px * 2));
  }
}

@media screen and (max-width: 928px) {
  .intro {
    max-width: 833px;
  }
}

@media screen and (max-width: 881px) {
  .intro {
    max-width: calc(100% - (24px * 2));
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 752px) {
  .intro {
    max-width: calc(100% - (16px * 2));
  }
}
