.lead__subtitle {
  max-width: 640px;
  justify-self: center;
  text-align: center;
  margin: 0 0 64px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.20;
  color: #FFFFFF;
}
