.lead__subtitle {
  max-width: 640px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.20;
  color: #FFFFFF;
}

@media screen and (max-width: 1210px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 672px) {
  .lead__subtitle {
    max-width: calc(100% - (16px*2));
  }
}

@media screen and (max-width: 675px) {
  .lead__subtitle {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 356px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
