.cover__overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
}

.cover__overlay::before{
  content:"";
  background: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  opacity: 0.3;
  transition: opacity .8s ease-out;
}

.cover:hover .cover__overlay::before {
  opacity: 0.8;
}
