@import url(./_block/spaces_block_header.css);


.spaces {
  margin-bottom: 92px;
}

@media screen and (max-width: 865px) {
  .spaces {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 692px) {
  .spaces {
    margin-bottom: 64px;
  }
}
