.cover__background {
  background-image: url(../../../pictures/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  position: relative;
  padding-bottom: 62.5%;
}
