.lead__caption {
  max-width: 159px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.40;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 8px 0 0;
  justify-self: start;
}

@media screen and (max-width: 865px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 692px) {
  .lead__caption {
    margin-left: 16px;
  }
}
