.place {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0px, 460px) 1fr;
  grid-template-rows: 1fr; /* edited */
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1210px) {
  .place {
    grid-template-columns: minmax(0px, 440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 865px) {
  .place {
    grid-template-columns: minmax(0px, 340px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 692px) {
  .place {
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    row-gap: 32px;
  }
}
