@import url(./__image/place__image.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);

.place {
  display: grid;
  width: 100%;
  grid-template-columns: minmax(0px, 460px) 1fr;
  grid-template-rows: repeat(2, min-content) 1fr;
  grid-auto-flow: column;
  column-gap: 40px;
  row-gap: 24px;
}

.place:last-child {
  grid-template-rows: min-content 1fr;
}

@media screen and (max-width: 1210px) {
  .place {
    grid-template-columns: minmax(0px, 440px) 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 865px) {
  .place {
    grid-template-columns: minmax(0px, 340px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (max-width: 721px) {
  .place {
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
  }
}
