@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
  grid-area: footer;
  max-width: 100%;
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: repeat(5, max-content) 1fr;
  grid-template-rows: max-content;
  column-gap: 18px;
}

@media screen and (max-width: 721px) {
  .footer {
    grid-template-columns: max-content;
    grid-auto-rows: max-content;
    row-gap: 32px;
  }
}
