.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (max-width: 1210px) {
  .footer {
    max-width: calc(100% - (48px*2));
  }
}

@media screen and (max-width: 865px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 752px) {
  .footer {
    max-width: calc(100% - (16px*2));
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 174px) {
  .footer {
    grid-template-columns: min-content;
  }
}
