.header_spacer_top-bottom {
  padding-top: 28px;
  padding-bottom: 56px;
}

@media screen and (max-width: 1210px) {
  .header_spacer_top-bottom {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 692px) {
  .header_spacer_top-bottom {
    padding-top: 16px;
    padding-bottom: 48px;
  }
}
