.intro__title {
  margin: 0;
  height: min-content;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.08;
  color: #FFFFFF;
  box-sizing: border-box;
}

@media screen and (max-width: 752px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
